.video-container .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    left: 0;
}

.channel-list {
    overflow-y: scroll;
    scrollbar-width: none;
}

#more,
.chat-header .nav {
    display: none;
}

.channel-item::after {
    display: none;
}

.channels {
    padding: 6px;
}

.channel-list {
    padding: 6px;
}

@media screen and (orientation: portrait) {

    .video-container,
    .image-container {
        display: none;
    }

    .login-box {
        border-radius: 20px;
    }

    .sidebar {
        display: none !important;
    }

    .chat-header {
        justify-content: space-between;
    }

    #more {
        display: block;
        cursor: pointer;
    }

    .chat-header .nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        background-color: rgba(38, 36, 36, 0.432);
        display: flex;
        z-index: 99;
    }

    .chat-header .nav[hidden] {
        display: none;
    }

    .chat-header .nav .card {
        width: 60%;
        background-color: #fff;
        padding: 16px;
        z-index: 100;
    }

    .chat-header .nav .user-info {
        display: flex;
    }

    .chat-header .nav .user-profile {
        justify-content: space-between;
    }
    .chat-header .nav .logout-btn{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .chat-header .nav .card {
        width: 80%;
    }
}